<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bofus.jstock.mapper.FinnHubMapper">

<resultMap id="exchangeCountryCodesMap" type="org.bofus.jstock.domain.ExchangeCountryCodes"/>

<!-- <insert id="populateHolidayTable" parameterType="org.bofus.jstock.domain.FinnHubMarketHolidays.HolidayRoot">
    INSERT IGNORE INTO exchange_country_codes (
    id,
    EVENT_NAME,
    AT_DATE,
    TRADING_HOUR)
    VALUES
  <foreach collection="holidayRoot.data" item="holiday" index="index">
    (HOLIDAY_SEQUENCER.nextval,
    #{holiday.eventName},
    #{holiday.atDate},
    #{holiday.tradingHour})
  </foreach>)
</insert> -->

<insert id="populateHolidayTable" parameterType="org.bofus.jstock.domain.FinnHubMarketHolidays.HolidayRoot">
    INSERT IGNORE INTO exchange_holidays (
    id,
    EVENT_NAME,
    AT_DATE,
    TRADING_HOUR)
    VALUES
    (HOLIDAY_SEQUENCER.nextval,
    #{holidayRoot.eventName},
    #{holidayRoot.atDate},
    #{holidayRoot.tradingHour})
</insert>


</mapper>